.twep-bike-filter-list{
    padding: 16px;
    display: grid;

    .twep-bike-filter-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        .mat-mdc-slider,
        .mat-mdc-form-field{
            width: 100%;
            margin-top: 8px;
        }
    }

    .twep-filtered-bikes-list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        padding: 16px 0px;
    }

    >.mat-divider{
       margin: 16px 0; 
    }
}