.twep-bike-filter-list{
    padding: 16px;
    display: grid;

    .twep-bike-filter-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: 100%;

        .mat-mdc-slider{
            display: flex;
        }

        .mat-mdc-form-field{
            width: 100%;
            margin-top: 8px;
        }
    }

    .twep-bike-filter-content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;
        padding: 16px 0px;

        .twep-bike-amount{
            margin-right: 4px;
        }

        .twep-filtered-bike-station-list{
            display: flex;
            flex-direction: column;
            gap: 32px;

            .twep-filtered-bike-station{
                display: flex;
                flex-direction: column;
    
                .twep-filtered-bike-station-title{
                    display: grid;
                    grid-template-columns: max-content 1fr;
                    align-items: center;
                    column-gap: 16px;
                    color: gray !important;
                    margin-bottom: 8px;
    
                    .mat-divider{
                        width: 100%;
                        border-top-color: gray;
                    }
                }

                .twep-filtered-bike-station-bikes{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    padding: 0px 16px;
                }
            }
        }

    }

    .mat-toolbar{
        background-color: white;
        border-bottom: 2px solid var(--twep-main);

        .mat-toolbar-row{
            height: min-content;
            min-height: 64px;

            >.mat-expansion-panel{
                margin-bottom: 16px;
                width: 100%;
            }
        }
    }

    >.mat-divider{
       margin: 16px 0; 
    }
}