<div class="twep-bike-filter-list">
    <div class="twep-bike-filter-content">
        @if(runningAction){
            <app-loading-overlay />
        }
        @else {
            <mat-toolbar>
                <mat-toolbar-row>
                    <h1>Bikes</h1>
                    <div class="twep-spacer"></div>
                    <div class="twep-bike-amount">({{ filteredBikes.length}})</div>
                    <mat-icon>pedal_bike</mat-icon>
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <mat-expansion-panel hideToggle [disabled]="runningAction">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Filters
                            </mat-panel-title>
                            <mat-panel-description>
                                <div class="twep-spacer"></div>
                                <mat-icon>filter_list</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="twep-bike-filter-container">
                            <div>
                                <div>Bike Station:</div>
                                <mat-form-field>
                                    <mat-select
                                        [(ngModel)]="bikeStationFilter"
                                        name="model"
                                        multiple="true"
                                        placeholder="Filter by station"
                                    >
                                        @for (station of bikeStations; track station.id) {
                                            <mat-option [value]="station.id">{{station.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <div>Wheelsize (in inch):</div>
                                <mat-slider [min]="bikeWheelSizeMin" [max]="bikeWheelSizeMax" discrete>
                                    <input [(ngModel)]="bikeWheelSizeFilter.from" matSliderStartThumb>
                                    <input [(ngModel)]="bikeWheelSizeFilter.to" matSliderEndThumb>
                                  </mat-slider>
                            </div>
                            <div>
                                <div>Bike Category:</div>
                                <mat-form-field>
                                    <mat-select
                                        [(ngModel)]="bikeCategoryFilter"
                                        name="model"
                                        multiple="true"
                                        placeholder="Filter by category"
                                    >
                                        @for (category of bikeCategories; track category.id) {
                                            <mat-option [value]="category.id">{{category.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <div>Bike Model:</div>
                                <mat-form-field>
                                    <mat-select
                                        [(ngModel)]="bikeModelFilter"
                                        name="model"
                                        multiple="true"
                                        placeholder="Filter by model"
                                    >
                                        @for (model of bikeModels; track model.id) {
                                            <mat-option [value]="model.id">{{model.name}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-toolbar-row>
            </mat-toolbar>
            @if(filteredBikes.length === 0){
                <div class="twep-no-items-message">
                    No bikes found, please adjust filter
                </div>
            }
            @else{
                <div class="twep-filtered-bike-station-list">
                    @for(station of filteredBikeStations; track station.id){
                        <div class="twep-filtered-bike-station">
                            <div class="twep-filtered-bike-station-title">
                                
                                <a 
                                    routerLink="/user/home" 
                                    [queryParams]="{station: station?.id}"
                                >
                                {{station.name}}
                                </a>
                                <mat-divider />
                            </div>
                            <div class="twep-filtered-bike-station-bikes">
                                <app-bike-card
                                    *ngFor=" let bike of station.bikes;"
                                    [bike]="bike" 
                                />
                            </div>
                        </div>
                    }
                </div>
            }
        }
        
    </div>
</div>
