.twep-station-card{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .mat-expansion-panel-spacing{
        margin: 0;
    }

    .mat-expansion-panel-header-description{
        gap: 4px;
    }

    .twep-bikes-list,
    .twep-rating-list{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}