<div
    appearance="raised"
    class="twep-station-card"
>
    @if(runningAction){
        <app-loading-overlay />
    }
    @else if(bikeStation !== undefined){
        <h3>Available Bikes</h3>
        <div class="twep-bikes-list">
            @if(displayedBikes.length > 0){
                <app-bike-card
                    *ngFor=" let bike of bikes"
                    [bike]="bike"
                />
            }
            @else {
                <div class="twep-no-items-message">
                    No bikes available at this station
                </div>
            }
        </div>
    }
    
</div>
