<div
    appearance="raised"
    class="twep-station-card"
>
    @if(runningAction){
        <app-loading-overlay />
    }
    @else if(bikeStation !== undefined){
        <mat-accordion [multi]="true">
            <mat-expansion-panel
                [expanded]="ratingsPanelExpanded"
                class="mat-elevation-z0"
                (click)="handleExpansionPanel()"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Rating
                    </mat-panel-title>
                    <mat-panel-description *ngIf="ratings.length > 0">
                        <div class="twep-spacer"></div>
                        <mat-icon 
                            *ngFor="let star of ratingStars"
                            class="twep-rating-star"
                        >
                            star_rate
                        </mat-icon>
                        <div>({{avgRatingFormatted}})</div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="twep-rating-list">
                    <button
                        *ngIf="rentedUserTickets.length > 0"
                        mat-flat-button
                        class="twep-create-rating-btn"
                        color="primary"
                        (click)="createRating()"
                    >
                        RATE THIS STATION
                    </button>
                    @if(ratings.length > 0){
                        <div>{{ratings.length}} ratings</div>
                        <app-rating-card 
                            *ngFor=" let rating of ratings;"
                            [rating]="rating" 
                        />
                    }
                    @else {
                        <div class="twep-no-items-message">
                            Station not rated yet
                        </div>
                    }
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel
                class="mat-elevation-z0"
                [expanded]="bikePanelExpanded"
                (click)="handleExpansionPanel()"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>Available Bikes</mat-panel-title>
                    <mat-panel-description>
                        <div class="twep-spacer"></div>
                        <mat-icon>pedal_bike</mat-icon>
                        <div class="twep-bike-amount">({{ bikes.length }})</div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="twep-bikes-list">
                    @if(displayedBikes.length > 0){
                    <app-bike-card
                        *ngFor=" let bike of bikes;"
                        [bike]="bike"
                    />
                    }
                    @else {
                    <div class="twep-no-items-message">
                        No bikes available at this station
                    </div>
                    }
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    }
    
</div>
