<app-admin-table 
    [loading]="runningAction"
    (reload)="getOverdueTickets()"
>
    <table
    table
    class="twep-ovedue-rentals-table"
    mat-table
    [dataSource]="overdueTickets"
    >
        <ng-container matColumnDef="ticket">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Ticket ID
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="overdue-rental-ticket"
            >
                {{element.ticketId}}
            </td>
        </ng-container>
        <ng-container matColumnDef="user">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                User
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="overdue-rental-user"
            >
                {{element.user.email}}
            </td>
        </ng-container>

        <ng-container matColumnDef="bike">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Bike
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="overdue-rental-bike"
            >
                {{element.bike.model}}
            </td>
        </ng-container>

        <ng-container matColumnDef="returnDate">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Planned returnal
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="overdue-rental-user"
            >
                {{getFormattedDate(element)}}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="columns"
        ></tr>
        <tr *matNoDataRow>
            <td [attr.colspan]="columns.length">
                <div class="twep-no-items-message">
                    No overdue rentals found
                </div>
            </td>
        </tr>
        <tr
            mat-row
            *matRowDef="let row; columns: columns;"
        ></tr>
    </table>
</app-admin-table>
