.twep-station-table{
    .mat-mdc-row{
        cursor: pointer;

        &:hover{
            background-color: whitesmoke;
        }

        .bike-station-name {
            max-width: 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

    }

}