.twep-station-detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    height: 100%;

    >.mat-toolbar {
        background-color: white;

        >.mdc-button + .mdc-button{
            margin-left: 8px;
        }

    }

    >.twep-station-form{
        display: flex;
        flex-direction: column;
        max-width: 600px;

        >.twep-map{
            width: 100%;
            height: 300px;
        }

    }
    
}

@media (max-width: 600px) {
    .twep-station-detail{

        >.twep-station-form {
            display: flex;
            flex-direction: column;
            max-width: unset;
            width: 100%;
        }
    }
}