.twep-station-detail{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;

    >.twep-station-form{
        display: grid;
        row-gap: 16px;
        column-gap: 8px;
        grid-template-areas: 
            "toolbar toolbar"
            "info parking";

        >.twep-station-information-container{
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0px 16px;
            grid-area: info;

            .mat-toolbar {
                background-color: white;
                padding: 0;
            }

            >.twep-map {
                width: 100%;
                height: 600px;
                margin-bottom: 8px;
            }
        
            >.twep-station-location {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 8px;
            }
        }

        >.twep-station-parking-place-container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            grid-area: parking;
            padding: 0px 16px;
            border-left: 1px solid var(--mat-divider-color);

            .twep-station-parking-place-toolbar {
                display: flex;
                flex-direction: row;
                flex: 1 1 100%;
                align-items: center;
                max-height: 48px;
            }
        
            .twep-parking-place {
                display: grid;
                grid-template-columns: 20px auto 48px;
                column-gap: 8px;
                padding-top: 24px;
                align-items: baseline;
        
                .mat-mdc-form-field {
                    width: 100%;
                }
        
            }
        }
    }
}

@media (max-width: 1599px) {
    .twep-station-detail{
        .twep-station-form{
            grid-template-areas: 
                "toolbar"
                "info"
                "parking";

            >.twep-station-parking-place-container{
                border-left: none;
            }
        }
    }
}

@media (max-width: 599px) {
    .twep-station-detail{
        max-width: unset;
        width: 100%;

        .back-button{
            display: none;
        }

        >.twep-station-form {
            display: flex;
            flex-direction: column;

            >.twep-station-location {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: auto;
                gap: 8px;
                flex-grow: 1;
            }

            >.twep-map {
                width: 100%;
                height: 300px;
            }

        }
    }
}