<mat-card
    *ngIf="ticket"
    [ngClass]="{
        'twep-ticket-card': true,
    }"
>
    <div *ngIf="isRented || isOverdue" class="twep-active-circle-container">
        <div class="twep-active-circle"></div>
    </div>
    <mat-card-header class="twep-ticket-card-header">
        <mat-card-title [title]="title">
            {{title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{subtitle}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div 
            [ngClass]="'twep-ticket-card-status ' + status"
        >
            <mat-icon class="material-icons-outlined">{{statusIcon}}</mat-icon>
            <div>{{statusText}}</div>
        </div>
        <div class="twep-ticket-card-information">
            <mat-icon class="material-icons-outlined">paid</mat-icon>
            <div>{{price}}</div>
            <mat-icon class="material-icons-outlined">schedule</mat-icon>
            <div>{{timeInterval}}</div>
            <mat-icon class="material-icons-outlined">location_on</mat-icon>
            <div>
                <a 
                    routerLink="/user/home" 
                    [queryParams]="{station: this.bike.station?.id}"
                >
                    {{ stationName }}
                </a>
            </div>
        </div>
        <div class="twep-ticket-card-bike">
            <div>Selected Bike</div>
            <app-bike-card [bike]="bike" [showRentBtn]="false" />
        </div>
    </mat-card-content>
    <mat-card-actions *ngIf="displayActions">
        <div class="twep-spacer"></div>
        <button
            mat-flat-button
            [disabled]="runningAction"
            (click)="showQRCode()"
        >
            <mat-icon>qr_code_2</mat-icon>
            QR CODE
        </button>
        <button
            *ngIf="displayCancelBtn"
            mat-flat-button
            color="accent"
            [disabled]="runningAction"
            (click)="cancelTicket()"
        >
            CANCEL TICKET
        </button>
    </mat-card-actions>
</mat-card>