.userhome-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .twep-open-station-detail{
        position: absolute;
        left: 16px;
        top: 80px;
        bottom: 16px;
        height: calc(100% - 110px);
        min-height: 200px;
        width: 600px;
        z-index: 1000;
        overflow-y: scroll;

        .mat-mdc-card-content{
            padding: 16px;
        }
    }

}

mat-toolbar {
    display: flex;
    align-items: center;
    background-color: white; 
    color: #333; 
}

#logo {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.logo {
    width: 40px; 
    height: 40px; 
    margin-right: 8px; 
}

.twep-toolbar-title {
    font-size: 24px;
    color: #333; 
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 1vw;
    
}

.user-form {
    margin-bottom: 0px; 
}

.leaflet-map {
    flex: 1;
}

@media (max-width: 600px) {
    .userhome-container {
        .twep-open-station-detail {
            left: 0px;
            bottom: 0px;
            right: 0px;
            height: calc(100% - 80px);
            width: 100%;
        }
    }
}