<div class="userhome-container">
    <mat-toolbar color="secondary" class="twep-main-toolbar">
        <a routerLink="/user" id="logo">
            <img
                src="../../../assets/logo_small.svg"
                height="40"
                width="40"
            >
        </a>
        <span class="twep-toolbar-title">TWEP Home</span>
        <mat-tab-group
            class="twep-user-nav-bar" 
            [selectedIndex]="activeLinkIndex"
            (selectedTabChange)="navigate($event)"
        >
            <mat-tab
                *ngFor="let tab of navigationLinks"
                [label]="tab.title"
            />
        </mat-tab-group>
    </mat-toolbar>
    <div class="twep-user-content">
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
        
    </div>
  
</div>
