<div class="userhome-container">
    <mat-toolbar color="secondary" class="twep-main-toolbar">
        <a routerLink="/home" id="logo">
            <img
                src="../../../assets/logo_small.svg"
                height="40"
                width="40"
            >
        </a>
        <span class="twep-toolbar-title">TWEP Home</span>
        <nav 
            class="twep-user-nav-bar" 
            mat-tab-nav-bar
            [tabPanel]="tabPanel"
            color="primary" 
        >
            <a
                *ngFor="let link of navigationLinks"
                mat-tab-link
                (click)="navigate(link)"
                [active]="activeLink?.route === link.route"
            >
                {{link.title}}
            </a>
        </nav>
    </mat-toolbar>
    <div class="twep-user-content">
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
        </mat-tab-nav-panel>
        
    </div>
  
</div>
