.userhome-container {
    display: grid;
    height: 100%;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "toolbar"
        "map";

    &.detail-open{
    grid-template-columns: 400px 1fr;
    grid-template-areas:
        "toolbar toolbar"
        "detail map";
    }

    .twep-open-station-detail{
        grid-area: detail;

        .mat-mdc-card-content{
            padding: 16px;
            overflow-y: scroll;
            height: calc(100% - 110px);
        }
    }

    .twep-main-toolbar{
        grid-area: toolbar;
    }

    .twep-user-map {
        grid-area: map;
        display: flex;
        flex-grow: 1;
        height: 100%;
    }

}

.twep-main-toolbar {
    display: flex;
    align-items: center;
    background-color: white; 
    color: #333; 
}

#logo {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.logo {
    width: 40px; 
    height: 40px; 
    margin-right: 8px; 
}

.twep-toolbar-title {
    font-size: 24px;
    color: #333; 
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 1vw;
    
}

.user-form {
    margin-bottom: 0px; 
}


#trenner {
    height: 0.3em;
    width: 100%;
    background-color: orange;
    margin-bottom: 0;
    border-radius: 15px;
}



#button1, #button2, #button3 {
    padding: 1em; 
    margin: 0.5em 8px; 
    color: black;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

#button1:hover, #button2:hover, #button3:hover {
    background-color: orange;
    
}


@media (max-width: 600px) {
    .userhome-container {
        &.detail-open {
            grid-template-columns: 1fr;
            grid-template-rows: min-content 100px 1fr;
            grid-template-areas:
                "toolbar"
                "map"
                "detail";
        }
    }
}