<div class="userhome-container">
    
    <mat-toolbar color="secondary" class="twep-main-toolbar">
        <a routerLink="/userhome" id="logo">
            <img
                src="../../../assets/logo_small.svg"
                height="40"
                width="40"
            >
        </a>
        <span class="twep-toolbar-title">TWEP Home</span>
        
    </mat-toolbar>
    <div
        leaflet
        class="leaflet-map"
        [leafletOptions]="mapOptions"
        [leafletLayers]="layers"
        (leafletMapReady)="onMapReady($event)"
    ></div>
    <mat-card 
        *ngIf="displayedBikeStation !== null"
        class="twep-open-station-detail"
    >
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{displayedBikeStation.name}}</mat-card-title>
                <mat-card-subtitle>Bike Station</mat-card-subtitle>
            </mat-card-title-group>
            
            <div class="twep-spacer"></div>
            <button
                mat-icon-button
                class="back-button"
                (click)="closeDetail()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            TODO: Add station content
        </mat-card-content>
    </mat-card>
</div>
