.userhome-container {
    display: grid;
    height: 100%;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "toolbar"
        "content";

    .twep-main-toolbar{
        grid-area: toolbar;
        display: flex;
        align-items: center;
        background-color: white;
        color: #333;
        gap: 8px;

        .twep-user-nav-bar{
            margin-left: 16px;
            --mdc-tab-indicator-active-indicator-height: 0px;
            max-width: calc(100% - 212px);

            ::ng-deep .mat-mdc-tab-labels>.mdc-tab:first-child {
                display: none;
            }

            .nav-tab-icon{
                margin-right: 8px;
            }
        }

        .twep-logo {
            width: 40px;
            height: 40px;
        }
    }

    .twep-drawer-container {
        grid-area: content;
        height: 100%;

        >.mat-drawer {
            width: 300px;

            .twep-drawer-title {
                font-size: 20px;
                padding: 16px;
                font-weight: 500;
            }

            .mat-divider {
                margin: 8px;
            }
        }

        .twep-user-content {
            height: 100%;
        }
    }

}

@media (max-width: 599px) {
    .userhome-container {
        &.detail-open {
            grid-template-columns: 1fr;
            grid-template-rows: min-content 100px 1fr;
            grid-template-areas:
                "toolbar"
                "map"
                "detail";
        }
    }
}