<app-admin-table 
    [loading]="runningAction"
    (reload)="getCategories()"
>
    <button
        toolbarAction
        mat-raised-button
        color="primary"
        (click)="createCategory()"
    >
        Add Category
    </button>
    <table
        table
        class="twep-category-table"
        mat-table
        [dataSource]="bikeCategories"
    >
        <ng-container matColumnDef="name">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by name"
            >
                Name
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="bike-category-name"
            >
                {{element.name}}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="price">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by name"
            >
                Hourly rate
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="bike-category-price"
            >
                {{numberFormatter.format(element.hourPrice)}}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <div class="bike-category-actions">
                    <button
                        mat-icon-button
                        title="Update category price"
                        (click)="updateCategoryPrice(element)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        class="twep-delete-btn"
                        title="Delete category"
                        (click)="deleteCategory(element)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr
            mat-header-row
            *matHeaderRowDef="columns"
        ></tr>
        <tr *matNoDataRow>
            <td [attr.colspan]="columns.length">
                <div class="twep-no-items-message">
                    No categories found
                </div>
            </td>
        </tr>
        <tr
            mat-row
            *matRowDef="let row; columns: columns;"
        ></tr>
    </table>
</app-admin-table>

