.container {
    display: flex;
    flex-wrap: wrap; 
}

.left-panel {
    flex: 0 0 30%;
    margin-right: 24px;
}

.right-panel {
    flex: 1;
    margin-left: 24px;
}

.profile-picture {
    display: block; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 10px; 
}

.avatar-info-container {
    display: flex;
    align-items: center; 
}

.profile-info {
    margin-left: 24px; 
}


mat-card-content {
    margin: 12px;


}


@media (max-width: 767px) {
    .mobile-stack {
        flex: 1 100%; 
        margin: 10px 0; 
    }

    .avatar-info-container {
        flex-direction: column; 
        align-items: center; 
    }

    .profile-info {
        margin-top: 10px; 
        margin-left: 0; 
    }
    .profile-info {
        margin-left: 24px; 
    }
}