.container {
    display: flex;
    flex-wrap: wrap; 
    padding: 16px;
    gap: 24px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.118));
}

.left-panel {
    flex: 0 0 30%;
}

.right-panel {
    flex: 1;
}

.wallet-panel {
    flex: 0 0 20%;
}

.profile-picture {
    display: flex; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 12px; 
    align-items: center;
    justify-content: center;

    .mat-icon{
        height: 64px;
        width: 64px;
        font-size: 64px;
    }
}

.avatar-info-container {
    display: flex;
    align-items: center; 
}

.profile-info {
    margin-left: 24px; 
    margin-bottom: 24px;
}


mat-card-content {
    margin: 12px;


}

.input-field {
    padding: 16px;
    padding-left: 0px;
    justify-content: space-between; 
}

.input-field input {
    margin-right: 12px; 
}

.success-message{
    margin-top: 16px;
}


@media (max-width: 767px) {
    .mobile-stack {
        flex: 1 100%; 
    }

    .avatar-info-container {
        flex-direction: column; 
        align-items: center; 
    }

    .profile-info {
        margin-top: 10px; 
        margin-left: 0; 
    }
    .profile-info {
        margin-left: 24px; 
    }
}