.container {
    display: flex;
    flex-wrap: wrap; 
    padding: 16px;
}

.left-panel {
    flex: 0 0 30%;
    margin-right: 24px;
    margin-left: 24px;
}

.right-panel {
    flex: 1;
    margin-left: 24px;
    margin-right: 24px;
}

.wallet-panel {
    flex: 0 0 20%;
   
}

.profile-picture {
    display: block; 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 10px; 
}

.avatar-info-container {
    display: flex;
    align-items: center; 
}

.profile-info {
    margin-left: 24px; 
}


mat-card-content {
    margin: 12px;


}

.input-field {
    padding: 16px;
    padding-left: 0px;
    justify-content: space-between; 
}

.input-field input {
   
    margin-right: 12px; 
}



#wallettext {
font-size: 30px;
size: 30px;
}



@media (max-width: 767px) {
    .mobile-stack {
        flex: 1 100%; 
        margin: 10px 0; 
    }

    .avatar-info-container {
        flex-direction: column; 
        align-items: center; 
    }

    .profile-info {
        margin-top: 10px; 
        margin-left: 0; 
    }
    .profile-info {
        margin-left: 24px; 
    }
}