<div class="twep-bike-detail">
    @if(runningAction){
        <app-loading-overlay />
    }
    @else if(bike === undefined || bike === null){
        <div class="twep-bike-form">
            <span>No bike with id <i>{{bikeId}}</i> found</span>
        </div>
    }
    @else {
        <form
            [formGroup]="bikeForm"
            class="twep-bike-form"
        >
            <mat-toolbar class="twep-admin-content-toolbar">
                <button
                    mat-icon-button
                    class="back-button"
                    (click)="goBackToOverview()"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <h1>{{ bikeName }}</h1>
                <div class="twep-spacer"></div>
                <button
                    *ngIf="isNew"
                    mat-raised-button
                    class="twep-save-btn"
                    (click)="upsertBike()"
                >
                    SAVE
                </button>
                <button
                    *ngIf="bikeId !== 'new'"
                    mat-raised-button
                    class="twep-delete-btn"
                    (click)="deleteBike()"
                >
                    DELETE
                </button>
            </mat-toolbar>
            <h3>General information</h3>
            <mat-form-field *ngIf="!isNew">
                <mat-label>Id</mat-label>
                <input
                    matInput
                    required="true"
                    type="text"
                    name="id"
                    formControlName="id"
                    [readonly]="true"
                >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Model</mat-label>
                @if(isNew){
                    <mat-select
                        [required]="true"
                        name="model"
                        formControlName="model"
                    >
                        @for (model of bikeModels; track id) {
                            <mat-option [value]="model.id">{{model.name}}</mat-option>
                        }
                    </mat-select>
                }
                @else{
                    <input
                        matInput
                        type="text"
                        [readonly]="true"
                        [value]="bike.model"
                    >
                }
                
                <mat-error *ngIf="model?.errors?.['required']">
                    Please select the model of the bike
                </mat-error>
            </mat-form-field>
            
            @if(!isNew){
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <input
                        matInput
                        type="text"
                        name="status"
                        [readonly]="true"
                        [value]="bike.status"
                    />
                </mat-form-field>
                <h3>Assigned bike station <small>(Click station marker to reassign)</small></h3>
                @if(loadAssignBikes){
                    <div class="twep-map">
                        <app-loading-overlay />
                    </div>
                }
                @else{
                    <mat-form-field *ngIf="!isNew">
                        <mat-label>Currently assigned station</mat-label>
                        <input
                            matInput
                            type="text"
                            name="station"
                            [readonly]="true"
                            [value]="assignedBikeStation"
                        >
                    </mat-form-field>
                    <div
                        *ngIf="options"
                        class="twep-map"
                        leaflet
                        [leafletOptions]="options"
                        [leafletLayers]="layers"
                        (leafletMapReady)="onMapReady($event)"
                    ></div>
                }
            }
        </form>
    }
</div>
