<app-admin-table 
    [loading]="runningAction"
    (reload)="getBikes()"
>
    <button
        toolbarAction
        mat-raised-button
        color="primary"
        (click)="createBike()"
    >
        Add Bike
    </button>
    <table
        table
        class="twep-bike-admin-table"
        mat-table
        [dataSource]="bikes"
    >
        <ng-container matColumnDef="model">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Model
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element.model ?? "-"}}            
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Status
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                {{ element.status }}
            </td>
        </ng-container>

        <ng-container matColumnDef="station">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
            >
                Assigned Station
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                class="bike-station"
            >
                {{ element.station?.name ?? '-'}}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="columns"
        ></tr>
        <tr *matNoDataRow>
            <td [attr.colspan]="columns.length">
                <div class="twep-no-items-message">
                    No bikes found
                </div>
            </td>
        </tr>
        <tr
            mat-row
            *matRowDef="let row; columns: columns;"
            (click)="openBikeDetail(row)"
        ></tr>
    </table>
</app-admin-table> 