<mat-toolbar color="secondary" class="twep-main-toolbar">
    <a routerLink="/userhome" id="logo">
        <img
            src="../../../assets/logo_small.svg"
            height="40"
            width="40"
        >
    </a>
    <span class="twep-toolbar-title">TWEP Home</span>

    <a routerLink="/wallet" id="button1">Wallet</a>
    <a routerLink="/tickets" id="button2">Current Tickets</a>
    <a routerLink="/history" id="button3">History</a>
    
</mat-toolbar>


<div id="addmoney">





</div>


<div id="removemoney">





</div>