<div id="addmoney">
    <mat-form-field>
        <mat-label>Add Money</mat-label>
        <input
            matInput
            [formControl]="addMoneyFormControl"
            type="text"
            name="addmoney"
        >
        <mat-error *ngIf="addMoneyFormControl.hasError('required')">
            Please enter amount to add to your wallet
        </mat-error>
    </mat-form-field>

    <button mat-raised-button class="twep-save-btn" (click)="saveAdding()">SAVE</button>
</div>

<br>

<div id="removemoney">
    <mat-form-field>
        <mat-label>Remove Money</mat-label>
        <input
            matInput
            [formControl]="removeMoneyFormControl"
            type="text"
            name="removemoney"
        >
        <mat-error *ngIf="removeMoneyFormControl.hasError('required')">
            Please enter amount to be removed from your wallet
        </mat-error>
    </mat-form-field>

    <button mat-raised-button class="twep-save-btn" (click)="saveRemoving()">SAVE</button>

<!--
    <p id="balance">Current wallet amount: {{ walletAmount }}</p>
-->



</div>