.twep-login-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
    height: calc(100% - 32px);
    position: relative;

    >.twep-login-form{
        display: flex;
        flex-direction: column;
        gap: 18px;
        border: 2px solid lightgray;
        padding: 16px;
        border-radius: 4px;
        width: 400px;
    }

    .twep-login-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

}
  

@media (max-width: 599px){
    .twep-login-container{
        justify-content: flex-start;
        padding: 16px;
        flex-grow: 1;

        >.twep-login-form{
            border: none;
            padding: 0;
            width: 100%;
        }

    }
}

