<div class="twep-qr-code-dialog">
    @if(runningAction){
        <app-loading-overlay />
    } @else if(step === 1){
        <h1 mat-dialog-title>QR code</h1>
        <div mat-dialog-content>
            <div class="twep-qr-code-container">
                <img [src]="qrCodeBase64" alt="QR code of ticket"/>
                <div class="twep-qr-code-overlay">
                    <button 
                        mat-flat-button
                        color="primary"
                        (click)="simulateRent()"
                    >
                        SIMULATE RENT
                    </button>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <div class="twep-spacer"></div>
            <button
                mat-button
                [mat-dialog-close]="false"
            >
                CLOSE
            </button>
        </div>
    }
    @else if(step === 2){
        <h1 mat-dialog-title>Return bike to station</h1>
        <div mat-dialog-content>
            <div class="twep-qr-code-container">
                Specify to which station the bike should be returned
                <mat-form-field>
                    <mat-select
                        [(ngModel)]="bikeStationId"
                        name="model"
                        placeholder="Select bike station for return"
                    >
                        @for (station of bikeStations; track station.id) {
                            <mat-option [value]="station.id">{{station.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions>
            <div class="twep-spacer"></div>
            <button
                mat-button
                [mat-dialog-close]="step === 2"
            >
                CLOSE
            </button>
            <button
                mat-button
                [disabled]="bikeStationId === null"
                color="primary"
                (click)="returnBike()"
            >
                RETURN
            </button>
        </div>
    }
    
</div>
