.twep-qr-code-dialog{
    position: relative;

    .twep-qr-code-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 16px;

        .mat-mdc-form-field{
            width: 100%;
        }

        .twep-qr-code-overlay{
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgba(255,255,255,0.7);
            z-index: 200;
            cursor: pointer;
        }

        &:hover{
            .twep-qr-code-overlay{
                display: flex
            }
        }
    }
}