.twep-admin-dashboard-container{
    height: 100%;

    >.mat-toolbar{
        gap: 16px;
    }

    .twep-drawer-container{
        height: calc(100% - 64px);

        >.mat-drawer{
            width: 300px;

            .twep-drawer-title{
                font-size: 20px;
                padding: 16px;
                font-weight: 500;
            }

            .mat-divider{
                margin: 8px;
            }

        }

        .twep-admin-content{
            height: calc(100% - 32px);
            margin: 16px;
            position: relative;
            overflow-y: scroll;
        }
    }
}

@media (min-width: 1280px){
    .mat-drawer-content{
        box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    }
}