.twep-admin-dashboard-container{
    height: 100vh;

    .mat-toolbar{
        gap: 16px;
    }

    .twep-drawer-container{
        height: 100%;

        >.mat-drawer{
            width: 300px;

            .twep-drawer-title{
                font-size: 20px;
                padding: 16px;
                font-weight: 500;
            }

            .mat-divider{
                margin: 8px;
            }

        }

        .twep-admin-content{
            height: calc(100% - 80px);
            padding: 8px 16px;
            overflow-y: scroll;
        }
    }
}