<div class="twep-bike-rent-dialog">
    <h1 mat-dialog-title>{{ title }}</h1>
        @if(runningAction){
            <div mat-dialog-content>
                <app-loading-overlay />
            </div>
        }
        @else if(bookingSuccessful){
            <div mat-dialog-content>
                <div class="twep-rent-success-container">
                    <mat-icon>check_circle</mat-icon>
                </div>
            </div>
            <div
                mat-dialog-actions
                [align]="'end'"
            >
                <button
                    mat-button
                    color
                    [mat-dialog-close]="true"
                >
                    CLOSE
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="navigateToTicket()"
                >
                    VIEW TICKETS
                </button>
            </div>
        }
        @else {
            <div mat-dialog-content>
                <div class="twep-rent-selected-bike">
                    <div>Selected bike:</div>
                    <app-bike-card
                        [bike]="bike"
                        [showRentBtn]="false"
                    />
                </div>
                <mat-divider />
                <div>
                    <div>Booking start:</div>
                    <app-date-time-picker 
                        [(datetime)]="bookingStart" 
                        [disabled]="immediateRenting" 
                        (datetimeChange)="calculatePrice()" 
                    />
                    <mat-checkbox [(ngModel)]="immediateRenting" (change)="calculatePrice()">
                        Immediate renting
                    </mat-checkbox>
                </div>
                <div>
                    <div>Booking end:</div>
                    <app-date-time-picker [(datetime)]="bookingEnd" 
                        (datetimeChange)="calculatePrice()"  
                    />
                </div>
            </div>
            <div mat-dialog-actions class="twep-rent-price">
                <div>Total Price:</div>
                <div>
                    @if(calculatingPrice){
                        <mat-spinner color="primary" diameter="32"/>
                    }
                    @else {
                        {{ formattedPrice }}
                    }
                </div>
            </div>
            <div mat-dialog-actions>
                <div class="twep-spacer"></div>
                <mat-divider [vertical]="true" />
                <button
                    mat-button
                    [mat-dialog-close]="false"
                >
                    CANCEL
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="purchaseTicket()"
                >
                    PURCHASE TICKET
                </button>
            </div>
        }
</div>