.twep-user-tickets{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;

  > .mat-toolbar{
    background-color: white;
    border-bottom: 2px solid var(--twep-main);
    gap: 4px;
  }

  >.twep-user-tickets-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 600px));
    row-gap: 32px;
    column-gap: 32px;
    padding: 0 8px;
  }

  >.mat-divider{
    margin: 16px 0px;
  }
}
  
