.twep-user-tickets{
  padding: 16px;

  >.mat-toolbar{
    background-color: white;
  }

  >.twep-user-tickets-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  >.mat-divider{
    margin: 16px 0px;
  }
}
  
