<div *ngIf="userTickets">
    <h1>Active User Tickets</h1>
    <ng-container *ngFor="let ticket of userTickets">
      <div class="ticket-list">
        <h2>Ticket ID: {{ ticket.id }}</h2>
        <ul>
          <li>Bike Type: {{ ticket.bikeType }}</li>
          <li>Station: {{ ticket.station }}</li>
          <li>Purchase Date: {{ ticket.purchaseDate }}</li>
        </ul>
      </div>
    </ng-container>
  </div>
  


  <br><br><br><br><br><br><br><br>

  <button (click)="createTicket()">Create Ticket</button>
  <div *ngIf="loggedInUserId">
    <h1>User ID: {{ loggedInUserId }}</h1>
  </div>
  


