<div id="all">
  <h1>Active User Tickets</h1>
  <div *ngIf="userTickets && userTickets.length > 0">
    
    <ng-container *ngFor="let ticket of userTickets">
      <div class="ticket-list">
        <h2>Ticket ID: {{ ticket.id }}</h2>
        <ul>
          <li>Bike Type: {{ ticket.bikeType }}</li>
          <li>Station: {{ ticket.station }}</li>
          <li>Purchase Date: {{ ticket.purchaseDate }}</li>
          <li>Price: {{ ticket.price }}€</li>
        </ul>
        <button mat-raised-button color="red" (click)="returnTicket(ticket.id)">Return Ticket</button>
          <!--
        <button mat-raised-button color="primary" (click)="returnQRCode(ticket)">Get QR Code</button>
        -->
      </div>

    </ng-container>

  </div>

    
  
  <div *ngIf="userTickets.length === 0">
    <p>No active Tickets</p>
  </div>


  <h1>Past User Tickets</h1>
  <div *ngIf="userTickets && userTickets.length > 0">
    
    <ng-container *ngFor="let ticket of userTickets">
      <div class="ticket-list">
        <h2>Ticket ID: {{ ticket.id }}</h2>
        <ul>
          <li>Bike Type: {{ ticket.bikeType }}</li>
          <li>Station: {{ ticket.station }}</li>
          <li>Purchase Date: {{ ticket.purchaseDate }}</li>
          <li>Overdue: {{ ticket.isOverdue }}</li>
          <li>Price: {{ ticket.price }}€</li>
        </ul>
       
      </div>

    </ng-container>

  </div>

  <div *ngIf="userTickets.length === 0">
    <p>No past Tickets</p>
  </div>




  <br>  <br>  <br>  <br>
  <p>Only for testing from here on. this is how the tickets should look:</p>
  <!-- from here on just for testing -->


<div class="ticket-list">
  <h2>Ticket ID:  ticket.id </h2>
  <ul>
    <li>Bike Type:  ticket.bikeType </li>
    <li>Station:  ticket.station </li>
    <li>Purchase Date:  ticket.purchaseDate </li>
  </ul>
  <button mat-raised-button color="red" id="redbutton">Return Ticket</button>
   
  <button mat-raised-button color="primary">Get QR Code</button>

</div>



<div class="ticket-list">
  <h2>Ticket ID:  ticket.id </h2>
  <ul>
    <li>Bike Type:  ticket.bikeType </li>
    <li>Station:  ticket.station </li>
    <li>Purchase Date:  ticket.purchaseDate </li>
  </ul>
  <button mat-raised-button color="red" id="redbutton">Return Ticket</button>
   
  <button mat-raised-button color="primary">Get QR Code</button>

</div>



<div class="ticket-list">
  <h2>Ticket ID:  ticket.id </h2>
  <ul>
    <li>Bike Type:  ticket.bikeType </li>
    <li>Station:  ticket.station </li>
    <li>Purchase Date:  ticket.purchaseDate </li>
  </ul>
  <button mat-raised-button color="red" id="redbutton">Return Ticket</button>
   
  <button mat-raised-button color="primary">Get QR Code</button>

</div>




  <br><br><br><br><br>



  
</div>

<button (click)="createTicket()">Create Ticket</button>