#all {
  padding: 20px;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row
}




button {
padding: 12px;
margin: 8px;

}

.ticket-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.288));

    flex: 0 0 400px; 
    margin-right: 20px;
    box-sizing: border-box;
    transition: flex 0.3s ease;
  }
  
  .ticket-list h2 {
    margin-top: 0;
    color: #333;
  }
  
  .ticket-list ul {
    list-style: none;
    padding: 0;
  }
  
  .ticket-list li {
    margin-bottom: 8px;
  }
  


#redbutton {
background-color: red;
color: white;

}

h1, p {
  flex-basis: 100%;
}



  @media (max-width: 768px) {
    .ticket-list {
      padding: 12px;
      flex: 0 1 calc(100% - 20px); 
    margin-right: 0;
    }
  }
  
