/* You can add global styles to this file, and also import other style files */
@import url("./variables.scss");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    --mat-sidenav-content-background-color: #fff;
    --mat-toolbar-container-background-color: #0000001A;

    a:link {
        color: #e9891c;
    }

    .twep-spacer {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .twep-no-items-message{
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
        font-size: 14px;
        color: darkgrey;
        padding: 8px;
    }

    /* TOOLBAR */
    .mat-toolbar,
    .mat-toolbar h1,
    .mat-toolbar h2,
    .mat-toolbar h3,
    .mat-toolbar h4,
    .mat-toolbar h5,
    .mat-toolbar h6 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 8px;
    }

    .twep-main-toolbar{
        border-bottom: 6px solid var(--twep-main);

        >.twep-logo{
            height: 40px;
        }
    }

    .twep-admin-content-toolbar{
        background-color: white;
        grid-area: toolbar;
        border-bottom: 1px solid var(--mat-divider-color);
        margin-bottom: 8px;
    
        >.mdc-button+.mdc-button,
        >button+h1 {
            margin-left: 8px;
        }

    }

    //BUTTONS
    .mdc-button.mat-primary {
        --mdc-protected-button-label-text-color: #fff;
        --mdc-filled-button-label-text-color: #fff;
    }

    .mdc-button .mdc-button__label {
        text-transform: uppercase;
    }

    button.twep-save-btn{
        --mdc-filled-button-container-color: var(--green);
        --mdc-protected-button-container-color: var(--green);
        --mdc-protected-button-label-text-color: white;
        --mdc-filled-button-label-text-color: #fff;
    }

    button.twep-delete-btn{
        --mdc-filled-button-container-color: var(--red);
        --mdc-protected-button-container-color: var(--red);
        --mdc-protected-button-label-text-color: white;
        --mdc-filled-button-label-text-color: #fff;

        .mat-icon{
            --mat-icon-color: var(--red);
        }

    }

    //SNACKBAR
    .twep-error-snackbar{
        --mdc-snackbar-container-color: var(--red);
        --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
        --mat-snack-bar-button-color: white;
    }

    .twep-rating-star{
        color: var(--rating-yellow);
    }

}