/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    --mat-sidenav-content-background-color: #fff;
    --mat-toolbar-container-background-color: #0000001A;

    a:link {
        color: #e9891c;
    }

}


.twep-spacer{
    display: flex;
    flex-direction: row;
    flex: 0 1 100%;
}

.twep-breadcrumb {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.mat-mdc-raised-button.mat-primary{
    --mdc-protected-button-label-text-color: #fff
}