/* You can add global styles to this file, and also import other style files */
@import url("./variables.scss");

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

    --mat-sidenav-content-background-color: #fff;
    --mat-toolbar-container-background-color: #0000001A;

    a:link {
        color: #e9891c;
    }

    .twep-spacer {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .twep-breadcrumb {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.54);
    }

    .mat-mdc-raised-button.mat-primary {
        --mdc-protected-button-label-text-color: #fff
    }

    .mdc-button .mdc-button__label {
        text-transform: uppercase;
    }

    .mat-toolbar,
    .mat-toolbar h1,
    .mat-toolbar h2,
    .mat-toolbar h3,
    .mat-toolbar h4,
    .mat-toolbar h5,
    .mat-toolbar h6 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 8px;
    }

    button.twep-save-btn{
        --mdc-protected-button-container-color: var(--green);
        --mdc-protected-button-label-text-color: white;
    }

    button.twep-delete-btn{
        --mdc-protected-button-container-color: var(--red);
        --mdc-protected-button-label-text-color: white;
    }
}