<mat-card
    *ngIf="bike"
    class="twep-bike-card"
>
    <mat-card-header class="twep-bike-card-header">
        <mat-card-title>
            <mat-icon>pedal_bike</mat-icon>
            {{title}}
        </mat-card-title>
        <mat-card-subtitle *ngIf="category !== null">
            {{category}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content 
        [ngClass]="{
            'twep-bike-card-content': true,
            'show-more': showMore
        }"
    >
        <div 
            *ngIf="description !== null" 
            class="twep-bike-description"
            [title]="description"
            #descriptionContainer
        >
            {{description}}
        </div>
        <button
            class="twep-bike-action"
            mat-flat-button
            color="primary"
            (click)="rentBike()"
        >
            Rent Bike
        </button>
        <div class="twep-bike-features">
            @if(showMore && features.length > 0){
                <strong>Features</strong>
                <ul>
                    <li *ngFor="let feature of features">
                        {{ feature }}
                    </li>
                </ul>
            }
            <a
                *ngIf="features.length > 0 || hasMoreDescription"
                class="twep-bike-detail-toggle"
                href="javascript:void(0)"
                (click)="toggleFeatures()"
            >
                {{ hasMoreBtnText }}
            </a>
        </div>
    </mat-card-content>
</mat-card>
